{
    "env": {
        "es2021": true,
        "node": true,
        "react-native/react-native": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "react-native"
    ],
    "rules": {
        "quotes": ["warn", "double"],
        "semi": ["warn", "always", { "omitLastInOneLineBlock": true }],
        "semi-style": ["warn", "last"],
        "indent": ["warn", 2, { "SwitchCase": 1 }],
        "no-multi-spaces": "warn",
        "no-multiple-empty-lines": "warn",
        "space-infix-ops": "warn",
        "comma-spacing": "warn",
        "semi-spacing": "warn",
        "block-spacing": "warn",
        "object-curly-spacing": ["warn", "always"],
        "key-spacing": "warn",
        "comma-dangle": ["warn", "always-multiline", { "objects": "always" }],
        "object-curly-newline": "off",
        "eol-last": "warn",
        "no-undef": "warn",
        "no-unused-vars": "warn",
        "consistent-return": "off",
        "no-underscore-dangle": "off",
        "import/newline-after-import": "off",
        "no-warning-comments": ["warn", { "terms": [""], "location": "anywhere" }],
        "import/no-unresolved": "off",
        "no-use-before-define": "warn",
        "react/style-prop-object": "warn"
      }
}
